.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.form {
    width: 60%;
    border: 1px solid #778da9;
    border-radius: 2%;
    background-color: #1b263b;
    color: #778da9;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-font {
    color: white;
    font-weight: 700;
}